In [2]:
import os 
import pandas as pd
import pyarrow as pa 
#Leemos el dataset
df = pd.read_csv(r"C:\Users\WalterECalcagnoLucar\OneDrive - inegocios.cl\Unifrutti_PowerBIAv\CSV\Online Sales.csv", header="infer" , sep=';')

display(df)
display(df.dtypes)

C:\Users\WalterECalcagnoLucar\AppData\Local\Temp\ipykernel_26820\2034888512.py:5: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"C:\Users\WalterECalcagnoLucar\OneDrive - inegocios.cl\Unifrutti_PowerBIAv\CSV\Online Sales.csv", header="infer" , sep=';')

,Date of Sale,Store Key,Product Key,Promotion Key,Customer Key,Unit Cost,Unit Price,Sales Quantity,Discount Quantity,Discount Amount
0,"2007-09-09 00:00:00,000",307,2491,1,19087,"12,74","24,99",1,0,0
1,"2007-09-09 00:00:00,000",307,2491,1,19087,"12,74","24,99",1,0,0
2,"2007-09-09 00:00:00,000",307,2491,1,19087,"12,74","24,99",1,0,0
3,"2007-09-09 00:00:00,000",307,2491,1,19087,"12,74","24,99",1,0,0
4,"2007-09-09 00:00:00,000",307,2491,1,19087,"12,74","24,99",1,0,0
...,...,...,...,...,...,...,...,...,...,...
12627603,"2009-10-20 00:00:00,000",307,1713,1,10199,"32,25","70,13",1,0,0
12627604,"2009-10-20 00:00:00,000",307,1713,1,10200,"32,25","70,13",1,0,0
12627605,"2009-10-20 00:00:00,000",307,1713,1,10201,"32,25","70,13",1,0,0
12627606,"2009-10-20 00:00:00,000",307,1713,1,10202,"32,25","70,13",1,0,0
12627607,"2009-10-20 00:00:00,000",307,1713,1,10203,"32,25","70,13",0,0,0

Date of Sale         object
Store Key             int64
Product Key           int64
Promotion Key         int64
Customer Key          int64
Unit Cost            object
Unit Price           object
Sales Quantity        int64
Discount Quantity     int64
Discount Amount      object
dtype: object

In [3]:
#hacemos los cambios de tipos de datos que necesitamos antes de parquetizar
df['Date of Sale'] = pd.to_datetime(df['Date of Sale'], infer_datetime_format=True)
df['Unit Cost'] = df['Unit Cost'].replace(',','.', regex=True)
df['Unit Cost'] = pd.to_numeric(df['Unit Cost'])
df['Unit Price'] = df['Unit Price'].replace(',','.', regex=True)
df['Unit Price'] = pd.to_numeric(df['Unit Price'])
df['Discount Amount']=df['Discount Amount'].replace(',','.', regex=True)
df['Discount Amount']=pd.to_numeric(df['Discount Amount'])

display(df.dtypes)
display(df)

Date of Sale         datetime64[ns]
Store Key                     int64
Product Key                   int64
Promotion Key                 int64
Customer Key                  int64
Unit Cost                   float64
Unit Price                  float64
Sales Quantity                int64
Discount Quantity             int64
Discount Amount             float64
dtype: object

,Date of Sale,Store Key,Product Key,Promotion Key,Customer Key,Unit Cost,Unit Price,Sales Quantity,Discount Quantity,Discount Amount
0,2007-09-09,307,2491,1,19087,12.74,24.99,1,0,0.0
1,2007-09-09,307,2491,1,19087,12.74,24.99,1,0,0.0
2,2007-09-09,307,2491,1,19087,12.74,24.99,1,0,0.0
3,2007-09-09,307,2491,1,19087,12.74,24.99,1,0,0.0
4,2007-09-09,307,2491,1,19087,12.74,24.99,1,0,0.0
...,...,...,...,...,...,...,...,...,...,...
12627603,2009-10-20,307,1713,1,10199,32.25,70.13,1,0,0.0
12627604,2009-10-20,307,1713,1,10200,32.25,70.13,1,0,0.0
12627605,2009-10-20,307,1713,1,10201,32.25,70.13,1,0,0.0
12627606,2009-10-20,307,1713,1,10202,32.25,70.13,1,0,0.0
12627607,2009-10-20,307,1713,1,10203,32.25,70.13,0,0,0.0

In [4]:
# parquetizaremos con una particion por aÃ±o
##primero creamos la columna aÃ±o en el dataset para usarlo como guia en la particion
df['year'] = pd.to_datetime(df['Date of Sale']).dt.year

#luego especificamos el directorio donde guardaremos los archivos parquetizados
destino = r"C:\Users\WalterECalcagnoLucar\OneDrive - inegocios.cl\Unifrutti_PowerBIAv\PARQUET"
parquet_file = os.path.join(destino,'dataset.snappy.parquet')

#escribimos el parquet en la ruta definida anteriormente y lo particionamos por la columna year
df.to_parquet(parquet_file, engine='pyarrow', compression='snappy', partition_cols=['year'], index=False  )

display(df)

,Date of Sale,Store Key,Product Key,Promotion Key,Customer Key,Unit Cost,Unit Price,Sales Quantity,Discount Quantity,Discount Amount,year
0,2007-09-09,307,2491,1,19087,12.74,24.99,1,0,0.0,2007
1,2007-09-09,307,2491,1,19087,12.74,24.99,1,0,0.0,2007
2,2007-09-09,307,2491,1,19087,12.74,24.99,1,0,0.0,2007
3,2007-09-09,307,2491,1,19087,12.74,24.99,1,0,0.0,2007
4,2007-09-09,307,2491,1,19087,12.74,24.99,1,0,0.0,2007
...,...,...,...,...,...,...,...,...,...,...,...
12627603,2009-10-20,307,1713,1,10199,32.25,70.13,1,0,0.0,2009
12627604,2009-10-20,307,1713,1,10200,32.25,70.13,1,0,0.0,2009
12627605,2009-10-20,307,1713,1,10201,32.25,70.13,1,0,0.0,2009
12627606,2009-10-20,307,1713,1,10202,32.25,70.13,1,0,0.0,2009
12627607,2009-10-20,307,1713,1,10203,32.25,70.13,0,0,0.0,2009